{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="mt-5">User profile: {{ app.user.username }}</h1>
            <div class="col-lg-6">
                <ul>
                    <li>{{ app.user.username }}</li>
                    <li>{{ app.user.email }}</li>
                    <li>
                        {% for role in app.user.roles %}
                            {{ role }}
                            {% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </li>
                </ul>
                <a href="/user/edit/{{ app.user.id }}" class="btn btn-secondary" style="margin-right:10px;">Edytuj dane</a>
                <a href="#" id="delete-user" class="btn btn-danger delete-user" data-id="{{ app.user.id }}">Usuń</a>
            </div>
        </div>
    </div>
{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}

{% endblock %}